/* ----main part css--- */

.first{
    height: 100vh;
    
    /* border: 1px solid red; */
}
.main{
    height: 100vh;
    /* border: 1px solid blue; */
    padding: 0;
    margin: 0;
}


/* -----header-part----------- */

.heading{
    height: 70px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #56617D;
    color: #FFD95B;
}